<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'images/r.png' %}">
    <title>rPolls:Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand ms-5 pe-3" href="#"><span class="r">r</span>Polls</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item me-1">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Poll
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Create</a></li>
                      <li><a class="dropdown-item" href="#">Browse</a></li>
                      <li><a class="dropdown-item" href="#">My Polls</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Forum
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Start New Topic</a></li>
                      <li><a class="dropdown-item" href="#">Browse</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Vote history</a>
                  </li>
                </ul>
                <div class="account d-flex me-4">
                    <div class="profile d-flex my-auto me-3">
                        <i class="bi bi-person-circle"></i>
                        <span class="username-viewonly ms-1">username</span>
                    </div>
                  <button class="btn-1">Logout</button>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="main-container">
        <div class="left-col">
            <div class="recent-polls card">
                <div class="heading">
                    <span class="icon me-1"><i class="bi bi-activity"></i></span>
                    <span class="title">Most Recent</span>
                </div>
                <div class="content">
                    {% for poll in recentpolls %}
                    <div class="poll-item">
                        <a class="poll-title" href="{% url 'polls:polldetails' poll.poll_id %}">{{ poll.poll_title }}</a>
                        <div class="count">
                            <span class="label">vote count:&nbsp;</span><span class="value">{{ poll.vote_count }}</span>
                        </div>
                        {% if poll.vote_count%}
                        <div class="last-vote">
                            <span class="label"><i class="bi bi-check-all"></i></span>
                            <span class="date">{{ poll.last_vote_time|date:"h:i A, j M o" }}</span>
                            <span class="user">by {{ poll.last_vote_voter }}</span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <a href="{% url 'polls:browse' %}" class="btn-1 link-btn">View All</a>
                </div>
            </div>
            <div class="community-forum card">
                <div class="heading">
                    <span class="icon me-1"><i class="bi bi-chat-right"></i></span>
                    <span class="title">Forums</span>
                </div>
                <div class="content">
                    {% for forum in forums %}
                    <div class="forum-post">
                        <a class="post-title" href="{% url 'forums:forum_detail' forum.forum_id %}">{{ forum.forum_title }}</a>
                        <div class="last-post">
                            <span class="label"><i class="bi bi-arrow-90deg-down"></i></span>
                            <span class="date">{{ forum.last_post_time|date:"h:i A, j M o" }}</span>
                            <span class="user">by {{ forum.last_post_user }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <a href="{% url 'forums:forum_all' %}" class="btn-1 link-btn">View All</a>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="my-polls card">
                <div class="heading">
                    <span class="icon me-1"><i class="bi bi-person-lines-fill"></i></span>
                    <span class="title">My Polls</span>
                </div>
                {% if recentpolls_user %}
                <div class="content">
                    {% for poll in recentpolls_user %}
                    <div class="poll-item">
                        <div class="title">
                            <i class="bi bi-node-plus me-1"></i><a href="{% url 'polls:polldetails' poll.poll_id %}">{{ poll.poll_title }}</a>
                        </div>
                        <div class="stat">
                            <div class="views si">
                                <span class="label"><i class="bi bi-eye me-1"></i>views:&nbsp;</span>
                                <span class="value">{{ poll.poll_views }}</span>
                            </div>
                            <div class="votes si">
                                <span class="label"><i class="bi bi-check-circle me-1"></i>total votes:&nbsp;</span>
                                <span class="value">{{ poll.vote_count }}</span>
                            </div>
                            {% if poll.vote_count %}
                            <div class="votes si">
                                <span class="label"><i class="bi bi-clock me-1"></i>last vote:&nbsp;</span>
                                <span class="value">{{ poll.last_vote_time|date:"h:i A, j M o" }}</span>
                            </div>
                            {% endif %}
                            <div class="votes si">
                                {% if poll.active_status %}
                                <span class="label"><i class="bi bi-play-circle-fill me-1"></i>active</span>
                                {% else %}
                                <span class="label"><i class="bi bi-pause-circle me-1"></i>inactive</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if paginator.has_more_page %}
                <div class="paginator">
                    <div class="inner">
                        <ul>
                            {% if paginator.has_prev %}<a href="?page={{ paginator.prev_page_num }}"><li>&#8592;</li></a>{% endif %}
                            <li>page {{ paginator.current_page }} of {{ paginator.total_page }}</li>
                            {% if paginator.has_next %}<a href="?page={{ paginator.next_page_num }}"><li>&#8594;</li></a>{% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <div class="no-content">
                    <div><i class="bi bi-exclamation-lg"></i></div>
                    <div class="info">You have no polls yet</div>
                </div>
                {% endif %}
            </div>
            <div class="my-stats card">
                <div class="heading">
                    <span class="icon me-1"><i class="bi bi-bar-chart"></i></span>
                    <span class="title">Stats</span>
                </div>
                <div class="content">
                    <div class="stat">
                        <div class="stat-left-col">
                            <div class="s-item">
                                <span class="label">total polls:&nbsp;</span>
                                <span class="value">{{ stat.user_created_poll_nums }}</span>
                            </div>
                            <div class="s-item">
                                <span class="label">total votes:&nbsp;</span>
                                <span class="value">{{ stat.user_vote_gain }}</span>
                            </div>
                            <div class="s-item">
                                <span class="label">currently active polls:&nbsp;</span>
                                <span class="value">{{ stat.user_created_active_polls }}</span>
                            </div>
                            <div class="s-item">
                                <span class="label">most recent poll:&nbsp;</span>
                                {% if stat.recent_poll_id %}
                                <span class="value"><a href="{% url 'polls:polldetails' stat.recent_poll_id %}">{{ stat.recent_poll_title|truncatechars:20 }}</a></span>
                                {% else %}
                                <span class="value">no poll</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="stat-right-col">
                            <div class="s-item">
                                <span class="label">total perticipation:&nbsp;</span>
                                <span class="value">{{ stat.users_vote_count }}</span>
                            </div>
                            <div class="s-item">
                                <span class="label">my last vote:&nbsp;</span>
                                {% if stat.user_last_vote_poll_id %}
                                <span class="value"><a href="{% url 'polls:polldetails' stat.user_last_vote_poll_id %}">{{ stat.user_last_vote_poll_title|truncatechars:20 }}</a></span>
                                {% else %}
                                <span class="value">no vote</span>
                                {% endif %}
                            </div>
                            <div class="s-item">
                                <span class="label">last vote time:&nbsp;</span>
                                <span class="value">{{ stat.user_last_vote_time|date:"h:i A, j M o"|default:'N/A' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="upper">
            <div class="col-1">
                <div class="site-name">
                    <span class="r">r</span>Polls</a>
                </div>
            </div>
            <div class="vl"></div>
            <div class="col-2">
                <a href="#">About</a>
                <a href="#">Features</a>
                <a href="#"><i class="bi bi-github"></i>Project Sourcecode</a>
            </div>
            <div class="vl"></div>
            <div class="col-3">
                <a href="#"><i class="bi bi-chat-square-dots-fill"></i>Contact us</a>
                <a href="#"><i class="bi bi-flag-fill"></i>Report an issue</a> 
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>